/*
TODO: change font-sizes to em (pixels/16 = em)
*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #333;
    color: #9d9d9d;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
    font-size: 18px;
    padding: 15px 25px 15px 25px;
    width: 100%;
    z-index: 100;
}

body {
    margin-bottom: 75px;
}

.navbar {
    /*    background-image: url(img/space_banner.jpg);*/
    height: auto;
    background-repeat: repeat;
    padding: 0px 25px 10px 45px;
}

.navbar {
    margin-bottom: 25px;
    padding-bottom: 0px;
}

.nav-pills {
    background-color: #333 !important;
}

h1.text-center {
    display: block;
    width: 100%;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    font-family: 'Space Mono', monospace;
    font-size: 5em;
    padding-bottom: 25px;
}

#neo .col-md-4,
#neo .col-sm-6 {
    background-color: #333;
    border: 1px solid white;
}

#apod {
    opacity: 0;
    animation: fadeout 10s;
}

table {
    border: 1px solid white;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #222;
}

td {
    padding: 5px;
}

#apod:hover {
    opacity: 1.0;
}

@keyframes fadeout {
    0% {
        opacity: 1.0;
    }
    80% {
        opacity: 1.0;
    }
    100% {
        opacity: 0;
    }
}

/* Older browsers don't display new HTML5 elements as block */

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}


@media(min-width: 960px) {
    #rover .col-md-3 .well {
        height: 340px;
    }
    #rover .col-md-3 img {
        height: 240px;
    }
}

#rover .row {
    margin: 0;
}
