body {
    background-color: #0F0F0F;
    margin: 0px;
}

header {
    color: white;
    background-color: firebrick;
    padding-bottom: 12px;
    margin: 0;
}

header h1 {
    font-family: fantasy;
    font-size: 48px;
    margin: 0px 0px 5px 0px;
    padding-top: 20px;
}

footer {
    text-align: center;
}

nav#bookmarkBar {
    list-style-type: none;
    display: block;
    background-color: #4D0F0F;
    margin-top: 12px;
}

nav#bookmarkBar ul {
    margin: 0px;
}

nav#bookmarkBar li {
    display: inline;
}

nav#bookmarkBar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
}

nav#bookmarkBar li:hover a:hover {
    background-color: firebrick;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    /* top padding 1px prevents body background color filling space between banner and wrapper */
    padding: 1px 35px 1px 35px;
    width: 980px;
    background-color: #a0a0a0;
    font-family: verdana;
}

table#neoTable {
    text-align: center;
}

table#neoTable td,
a {
    max-width: 90px;
    overflow: hidden;
    font-size: 80%;
}

table#neoTable th {
    max-width: 90px;
    font-size: 80%;
}

#iframeJPL {
    width: 787px;
    height: 600px;
}

#marsroverPhotos img {
    width: 135px;
    margin: 5px;
}

#marsroverPhotos img:hover {
    width: 145px;
    display: inline;
    margin: 0;
}


/* Older browsers don't display new HTML5 elements as block */

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}