/*
TODO: change font-sizes to em (pixels/16 = em)
*/

body {
    background-image: url("img/spacewallpaper.jpg");
    background-attachment: fixed;
    margin: 0px;
    font-size: 100%;
    /* for compatibility issues */
}

header#banner {
    color: white;
    background-color: firebrick;
    padding-bottom: 12px;
    margin: 0;
}

header h1 {
    font-family: fantasy;
    font-size: 48px;
    margin: 0px 0px 5px 0px;
    padding-top: 20px;
}

header h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid black;
}

footer {
    text-align: center;
    margin: 0;
    background-color: black;
    color: white;
    width: 100%;
    padding: 15px;
    font-size: 24px;
}

nav#bookmarkBar {
    list-style-type: none;
    display: block;
    background-color: #4D0F0F;
    margin-top: 12px;
}

nav#bookmarkBar ul {
    margin: 0px;
}

nav#bookmarkBar li {
    display: inline;
}

nav#bookmarkBar li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
}

nav#bookmarkBar li:hover a:hover {
    background-color: firebrick;
    padding-bottom: 2px;
    padding-right: 5px;
    padding-left: 5px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    font-family: verdana;
}

section {
    border: 5px outset darkgray;
    border-radius: 10px;
    padding: 0px 35px 25px 35px;
    background-color: #a0a0a0;
}

header.sectionHeader {
    margin: 0px -30px 12px -30px;
}

#apodImg {
    margin-top: 12px;
}

#apodText {
    text-align: justify;
}

#neoTable {
    text-align: center;
    overflow: hidden;
    font-size: 80%;
    border-collapse: collapse;
    width: 100%;
    border: 4px solid lightblue;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

#neoTable th {
    background-color: lightblue;
    padding: 5px;
    font-size: 110%;
}

#iframeJPL {
    width: 787px;
    height: 600px;
    margin: 15px auto 0 auto;
    display: block;
    border: 4px solid black;
}

#marsroverPhotos img {
    width: 135px;
    margin: 5px;
}

#marsroverPhotos img:hover {
    width: 145px;
    display: inline;
    margin: 0;
}


/* Older browsers don't display new HTML5 elements as block */

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}